.container {
    display: flex;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-panel {
    flex: 1;
    margin-right: 20px;
}

.left-panel img {
    max-width: 100%;
}

.right-panel {
    flex: 3;
}

h1 {
    color: #007bff;
}

#word-container {
    margin-bottom: 20px;
}

#guess-input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit-guess {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-guess:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.invisible {
    display: none;
}
