
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header, footer {
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}

.about {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.about p {
    margin-bottom: 10px;
}

.social-media-links {
    list-style: none;
    padding: 0;
}

.social-media-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-media-links li:last-child {
    margin-right: 0;
}

.social-media-links a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.social-media-links a:hover {
    text-decoration: underline;
}

.back-button a {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: #0056b3;
}
